body{ background-color: #e0fffe ;
color:navy ;
font-family: serif;}
h3{ background-color: blue;
color: white;
font-size: 18px;
font-style: italic;
text-decoration: underline; 
}
p{ font-family: Verdana, Helvetica, sans-serif;
font-size: 14px;
color: #000080;}
address{size: 110%;}
blockquote{text-transform: uppercase;
text-align: center;}